h1 {
    color: rgb(114, 68, 22);
    text-decoration: underline;
    text-align: center;
}
h2{
    color: rgb(177, 95, 36);
    text-align: center;
    text-decoration: underline;
}
p {
    font-size: larger;
    line-height: 180%;
    para
}