h1, h2, h3 {
    color: brown;
    text-align: center;
    text-decoration: underline;
}

p {
    font-size: medium;
    line-height: 20px;
    letter-spacing: 2px;
}

body {
    background-color: lightgray;
    /* text-align: center; */
}

strong {
    text-decoration: underline;
}