* {
  font-family: "Times New Roman", Times, serif;
  background-color: aliceblue;
  text-align: center;
}

h1 {
  text-align: center;
  text-decoration: underline gray;
  background-color: antiquewhite;
}

h3 {
  text-decoration: underline darkred;
  text-align: center;
  background-color: antiquewhite;
}

p {
  line-height: 1.6;
  font-size: 17px;
}

img,
video {
  display: block;
  margin: 0 auto;
}

li {
  list-style: none;
  font-weight: bold;
}
